 *{
    padding:0px;
    margin :0px;
    box-sizing:border-box;
 }
 .page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

 .container{
    /* background-color: red; */
    /* text-align:center; */
 }
 .nav{
    display:flex;
    align-items:center;
    /* justify-content:space-between; */
    flex-wrap:nowrap; 
    margin:10px;
 }
 a{
    text-decoration:none;
    /* color:white; */
    padding:19px;

 }
 .list{
    display:flex;
    gap:10px;
    list-style: none;
    /* background-color: blueviolet; */
    padding:10px; 
    width:100%; 
    margin :10px;
 }
 .list a:hover{
    text-decoration: underline;
    text-decoration-color: #d35400;
    text-underline-offset: 4px;
 }
 .telugu{
   color: orange; ;
 }
 .search{
    width:100%;
    padding:10px;
    margin:5px;
    border-radius:5px;
 }
 input{
    text-align:center;
 }

 .breakfast{
   padding:6px;
   margin:8px;
   color:white;
   font-weight:700px;
   background-color:black;
   /* text-align:left; */
 }
 .telugu{
   padding:10px;
   margin:6px;
   color:blueviolet;
   font-weight: weight 700px;
   background-color: rgb(253, 254, 255);
   border-radius:4px;
   border-color: blueviolet;
 }
 .telugu:hover{
   background-color:blueviolet;
   color:white;
 }
 
 .buttons{
   margin:10px;
 }
 .buttons>button{
   padding:10px;
   margin:10px;
color:orange;
background-color: white;
border-radius:25px;
border-color:orange;
font-weight:600 ;
 }
 .container>p{
   margin:20px;
 }
 .container>h2{
   color:blueviolet;
   
 }
 .box>h2{
   margin:10px;
 }
 .box>ol>li{
margin:8px;
padding:5px;
list-style:none;
 }
 .more_recipies{
display:flex;
flex-wrap:nowrap;
gap:5px;
justify-content:center;
padding:10px;
 }
 .item{
   max-width:60%;
   height:40%;
   padding: 2px; 
   text-align:center;
   /* border:2px solid red; */
 }
 .item>img{
   width:100%;
   height:auto; 
   border-radius:8px;
 }
 image{
   width:50%;
   height:50%;
   
 }
 .video>iframe{
text-align:center;
height:400px;
margin:20px;
 }
 .form{
  background-color: blueviolet;
  text-align:center;
 }
 .formbox {
  display: grid;
  grid-template-columns: repeat(3, minmax(200px, 1fr));
  gap: 10px;
  list-style:none;
}
.formbox li a{
  color:white;
}
.number{
  padding:10px;
  border-radius:50%;
  background-color: blueviolet;
  margin:9px;

}
.numbers{
  display:flex;
  margin :10px;
  padding:8px;
}
.formdetails{
  background-color: rgb(200, 190, 210);
  padding:10px;
  margin:20px;
}
.formdetails h3{
  margin:10px;
}
.formdetails input,.formdetails textarea{
  padding:16px;
  margin:5px;
  width:90%;
}
.comment{ 
  padding:7px;
  margin:7px;
  border-radius:7px;
  background-color: blueviolet;
}
.formdetails p{
  text-align: center;

}
.bullet-list {
  margin:10px;
  list-style-type: disc;
  padding-left: 20px;
  text-align: left;;
}

.box{
  text-align:left;
}
.ingrediants{
  text-align:center;
}